<!doctype html>
<html>
<head>
  <title>React Express full stack App</title>
  <link rel="stylesheet" href="skeleton/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="skeleton/css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">
    <div id="react-app"><%- reactOutput %></div>
  </div>
  <script src="app.js" type="text/javascript"></script>
</body>
</html>
